@{
    Layout = "_Layout";
    ViewData["Title"] = "DB Page";
}

<div class="block1">
    <table border="1" style="border-width: 2px; border: groove;">
        <tr><th style="width: 1%">Id</th> <th style="width: 1%">Name</th> <th>Deposit</th> <th>Type</th></tr>
        @foreach (var item in ViewBag.Clients)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Deposit</td>
                <td>@item.Type</td>
            </tr>
        }
    </table>
    <form style="margin: 20px" action="~/ChangerDB/AddPage" method="get">
        <input style="height: 40px; width: 80px;" type="submit" value="Добавить" />
    </form>
    <form action="~/ChangerDB/DeleteFromDB" method="post">
        <input type="text" placeholder="Id удаляемой строки" name="Id" />
        <input type="submit" value="Удалить" />
    </form>
</div>

<div class="block2">
    <p>Сайт поднят: @ViewBag.timerA с</p>
</div>

<br />

<div style="justify-content: center; display: flex; margin: 20px;">
    <input style="padding: 10px;" type="button" value="Google" onclick="google()" />
</div>


